.updates-note-item {
    cursor: pointer;
}

.desc-wrapper-item {
    display: flex;
    margin: 8px 0 0 7px;
}

.desc-wrapper-text {
    margin-left: 11px;
}

.rectangle-wrapper-item {
    margin-top: 8px;
}
