.play-options {
    display: flex;
    margin-top: 8px;
    flex-direction: column;
}

.left-button-wrapper {
    margin-right: 8px;
    height: 58px;
}

.rect-play-wrapper {
    height: 40px;
}

.right-button-wrapper {
    margin-left: 8px;
    height: 58px;
}

.left-button-wrapper.bottom {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-button-wrapper.bottom {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-start;
}

.tables-subtitles-wrapper {
    margin: 10px 0 10px 0;
}

.buttons-inside-wrapper {
    display: flex;
    align-content: flex-start;
}

.buttons-and-options-wrapper {
    margin-left: 30px;
}

.button-wrapper-play {
    display: flex;
}

.content-inner-play {
    margin-left: 136px;
}

.buttons-bottom-play {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.play-rect-bottom {
    align-self: flex-end;
    margin: 8px 0 8px 197px;
}

.play-rect-bottom-left {
    margin: 8px 0 8px 149px;

}
