.line-wrapper-page {
    display: flex;
    padding-left: 25px;
    max-width: 756px;
    width: 100%;
}

.content-wrapper-page {
    .wrapper-subtitle:nth-child(2) {
        margin-top: 16px;
    }
}

.form-inner {
    display: flex;
    flex-direction: row;
}

.form-line-right {
    margin: 16px 8px 0 8px !important;
}

.form-line-left {
    margin-right: 8px;
}

.form {
    position: relative;
    & > * {
        margin-top: 16px;
    }
}

.notification-form {
    margin: 200px 0 0 9px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 356px;

}
