.patreon-icon-wrapper {
    display: flex;
    margin: 63px 0 0 -13px;
}

.patreon-icon-line {
    display: block;
    height: 51px;
    width: 10px;
    border-radius: 4px;
    background-color: #fff;
}

.patreon-icon-round {
    margin-left: 5px;
    display: block;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: #fff;
}
