@font-face {
	font-family: 'Avenir';
	src: local('Avenir-Medium'), url(../assets/fonts/Avenir-Medium.woff2) format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Avenir';
	src: local('Avenir-Light'), url(../assets/fonts/Avenir-Light.woff2) format('woff2');
	font-weight: 200;
}

@font-face {
	font-family: 'Avenir';
	src: local('Avenir-Black'), url(../assets/fonts/Avenir-Black.woff2) format('woff2');
	font-weight: 800;
}

@font-face {
	font-family: 'Avenir';
	src: local('Avenir-Heavy'), url(../assets/fonts/Avenir-Heavy.woff2) format('woff2');
	font-weight: 600;
}