.wrapper-gamesection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-text {
    text-align: center;
}

.wrapper-cards-gamesection {
    width: 338px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.gamesection-text {
    display: flex;
    flex-direction: row;
}