.container {
	height: 100vh;
	padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  	.container {
		padding: 15px;
	}
}